#각자의 작업공간에 맞게 수정해 사용하세요
# #Runpod
# export BASE_DIR=/workspace/cdh/Team4
# export CKPT_DIR=/workspace/checkpoints
# export TRAIN_DIR=/workspace/data/train
# export TEST_DIR=/workspace/data/test
# export EVAL_DIR=/workspace/outputs

#Lab
export BASE_ROOT=/home/aix23102/audiolm/Team404/
export DATA_ROOT=/data0/aix23102/

export BASE_DIR=${BASE_ROOT}/master/Team4      # 프로젝트 루트
export TRAIN_DIR=${BASE_ROOT}/data/train
export TEST_DIR=${BASE_ROOT}/data/test
export EVAL_DIR=${BASE_ROOT}/outputs

export CKPT_DIR=${DATA_ROOT}/checkpoints
export DATA_DIR=${DATA_ROOT}/unav_100



# WandB (학습 로그 공유)
export WANDB_ENTITY=guma017-ewha-womans-university
# export WANDB_API_KEY=wandb_v1_1faKegxn1mcvde23vl5iTPEkRCc_uEgnL4sjzw0qWoy3uWd8igJDibWR3drIBnony67yout4bIR5K   #예진 API 키 
export WANDB_API_KEY=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     #다현 API 키



