#각자의 작업공간에 맞게 수정해 사용하세요
# #Runpod
# export BASE_DIR=/workspace/cdh/Team4
# export CKPT_DIR=/workspace/checkpoints
# export TRAIN_DIR=/workspace/data/train
# export TEST_DIR=/workspace/data/test
# export EVAL_DIR=/workspace/outputs

#Lab
export BASE_ROOT=/home/aix23102/audiolm/Team404/
export DATA_ROOT=/data0/aix23102/

export BASE_DIR=${BASE_ROOT}/master/Team4      # 프로젝트 루트
export TRAIN_DIR=${BASE_ROOT}/data/train
export TEST_DIR=${BASE_ROOT}/data/test
export EVAL_DIR=${BASE_ROOT}/outputs

export CKPT_DIR=${DATA_ROOT}/checkpoints
export DATA_DIR=${DATA_ROOT}/unav_100



# WandB (학습 로그 공유)
export WANDB_ENTITY=guma017-ewha-womans-university
export WANDB_API_KEY=<YOUR_WANDB_API_KEY>   # https://wandb.ai/authorize 에서 발급 (커밋 금지)



